@import url('https://fonts.googleapis.com/css2?family=Maiden+Orange&display=swap');

.accordion {
    padding: 2rem;
    color: #000;
}
.accordionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #6497b1;
    cursor: pointer;
    border:0;
    border-radius: 9999px;
  }
  .accordionHeader:hover {
    opacity: .7;
  }
  .accordionHeaderOpen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #6497b1;
    cursor: pointer;
    border:0;
    border-radius: 50px 50px 0 0;
  }
  .accordionHeaderOpen:hover {
    background: #b3cde0;
  }
  .accordionTitle {
    font-weight: bold;
    font-size: 2rem;
    padding: 2rem;
  }
  .projectLogo {
    height: 5rem;
    border:0;
    border-radius: 9999px;
  }
  .accordionImage {
    height: 9rem;
    border: 1px solid black;
    border-radius: 1%;
  }
  .accordionImage:hover {
    box-shadow: 3px 3px rgba(0, 0, 0, 0.479);
  }
  .accordionIndicator {
    font-size: 3rem;
  }
  .techTitle {
    padding: 1rem 0rem;
    font-size: larger;
    font-weight: bold;
  }
  .tech {
    padding: 2rem 0rem;
  }
  .techImg {
    padding-right: 1vw;
    height: 4rem;
  }
  .project {
    padding: 2rem 0rem;
    font-size: larger;
    font-weight: bold;
  }
  .projectDescription {
    padding-bottom: 5vh;
  }
  .accordionBody {
    margin-bottom: 1rem;
    text-align: left;
    font-size: 1.7rem;
    padding: 1rem;
    background:  #6497b1;
    border-radius: 0 0 50px 50px;
  }

@media only screen and (min-width: 992px) {
    .accordionTitle {
      font-size: 2.5rem;
      font-weight: bold;
    }
    .btns {
        justify-content: center;
        flex-direction: row;
      }
      .accordionImage {
        height: 25rem;
      }
      .projectsLinks {
        padding: 2rem 1rem;
        cursor: pointer;
        height: 64px;
        width: 64px;
      }
}