.footer {
    display: none;
}

@media only screen and (min-width: 992px) {
    .footer {
        padding: 1rem 0rem;
        display:flex;
        justify-content: center;
        align-items: center;
        background-color: #0855b1;
        color: #000000;
        width: 100%
    }
    .logo {
        margin: 0.5rem;
        height: 32px;
    }
    .copyright {
        font-size: 1.5rem;
    }
}
