.footer {
    display: none;
}

@media only screen and (min-width: 992px) {
    .footer {
        padding: 1rem 0rem;
        display:flex;
        justify-content: center;
        align-items: center;
        background-color: #6497b1;
        color: #000000;
        width: 100%
    }
    .sun {
        padding: 0 1rem;
        height: 40px;
        width: 40px;
    }
    .copyright {
        font-size: 1.5rem;
    }
}
