.header {
    padding: 1rem 0rem;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #0855b1;
    width: 100%;
    z-index: 1;
}
.navLinks {
    padding: 0rem 2rem;
    font-size: 2rem;
    color: #000000;
    text-decoration: none;
}
.navLinks:hover {
    color: #FFF;
}
@media only screen and (min-width: 992px) {
    .header {
        display: flex;
    }
}
