.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../../public/images/svg/1.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-color: grey;
    background-blend-mode: multiply;
    color: #FFFFFF;
}
.presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    border-radius: 5%;
    -webkit-text-stroke: 1px #000000;
}
.homeTitles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.homeTitle, .homeSubtitle{
    padding: 3vh 0;
    font-weight: 400;
    font-size: 1.8rem;
}
.profile {
    height: 256px;
    width: 256px;
    border: 5px solid #D4AF37;
    border-radius: 70%;
}
.description {
    padding-top: 5vh;
    font-size: 1.8rem;
}
@media only screen and (min-width: 992px) {
    .presentation {
        padding: 3rem;
    }
    .homeTitle, .homeSubtitle{
        padding: 5vh 0;
        font-size: 3.5rem;
    }
    .description {
        padding-top: 7vh;
        font-size: 3rem;
    }
        .contact {
            padding: 2rem;
        }
    }