.navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: #0855b1;
    bottom: 0;
    width: 100%;
}
.navLinks {
    padding: 0 4vw;
    font-size: 3rem;
    text-decoration: none;
}
@media only screen and (min-width: 992px) {
    .navbar {
        display: none;
    }
}